<div class="card overflow-hidden group/card cursor-pointer">
  <div [routerLink]="['/details', product._id]">
    <img [src]="product.imageCover" alt="" class="w-full rounded-t object-contain" />
    <h3 class="text-green-800 text-md py-2">{{ product.category.name }}</h3>
    <h4 class="text-lg py-2 line-clamp-1ks">{{ product.title | term : 3 }}</h4>
    <div class="flex justify-between items-center">
      <span>{{ product.price | currency : 'EGP' }}</span>
      <span><i class="fas fa-star text-yellow-500"></i>{{ product.ratingsAverage }}</span>
    </div>
  </div>
  <button
    (click)="addProductItemToCart(product._id)"
    class="btn translate-y-[120%] group-hover/card:translate-y-0"
  >
    Add to Cart
  </button>
</div>
